@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  body {
    @apply m-5 dark:bg-gray-600
  }
} */

@layer components {
  .popover-btn{
    @apply w-[39px] h-[39px] flex justify-center items-center ml-2 p-2.5 rounded-full bg-fb-popover active:bg-fb-active cursor-pointer
  }

  .popover-panel{
    @apply lg:w-[450px] w-[350px] absolute top-12 right-0 p-4 border border-fb-input rounded-lg shadow-lg bg-fb-header z-50
  }

  .story{
    @apply min-w-[120px] min-h-[230px] flex-1 px-[4px] cursor-pointer
  }

  .story-image{
    @apply w-full h-full object-cover duration-200
  }

  .card{
    @apply mt-4 px-4 py-3 rounded-lg bg-fb-card
  }
}

.swiper {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 5px !important;
}

.swiper-slide {
  width: auto !important;
  margin-right: 0 !important;
}

.swiper-button-next {
  background-image: url(https://bruce-fe-fb.web.app/image/right-arrow.svg);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
  border-radius: 9999px;
  background-color: #3e4042;
  width: 36px !important;
  height: 36px !important;
  top: 29px !important;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  background-image: url(https://bruce-fe-fb.web.app/image/left-arrow.svg);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
  border-radius: 9999px;
  background-color: #3e4042;
  width: 36px !important;
  height: 36px !important;
  top: 29px !important;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-button-disabled {
  opacity: 0 !important;
}

/*  Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.no-scrollbar {
  scrollbar-width: none;
  /* Firefox */
}